.product-card {
  border-radius: var(--card-radius);
  padding-top: 35px;
  height: 165px;
  &_content {
    background-color: var(--primary-color);
    padding: 20px;
    height: 165px;
    border-radius: var(--card-radius);
    &_header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      label {
        font-size: 18px;
        font-weight: 500;
        line-height: 21.33px;
        text-align: left;
        margin: 0;
      }
      img {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
    &_pricing {
      h2 {
        font-size: 39px;
        font-weight: 300;
        line-height: 46.22px;
        text-align: left;
      }
    }
    &_desc {
      display: flex;
      align-items: center;
      gap: 15px;
      caption {
        font-size: 12px;
        font-weight: 400;
        line-height: 14.22px;
        color: var(--text-sec-color);
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 21px;
        max-height: 48px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        width: 7.5rem;
      }
      .availability {
        display: flex;
        align-items: center;
        flex-direction: column;
        p {
          white-space: nowrap;
          margin: 0;
          font-size: 12px;
          font-weight: 500;
          line-height: 14.22px;
          text-align: left;
        }
      }
    }
  }
  .mobile-pricing_desc {
    display: none;
  }
}
@media (max-width: 540px) {
  .product-card {
    width: 327px;
    height: 100px;
    &_content {
      height: 100px;
    }
  }
  .availability {
    display: none !important;
  }
  .product-card_content_pricing,
  .product-card_content_desc {
    display: none !important;
  }
  .mobile-pricing_desc {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    caption {
      font-size: 12px;
      font-weight: 400;
      line-height: 14.22px;
      color: var(--text-sec-color);
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 21px;
      max-height: 48px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      width: 8rem;
    }
    h2 {
      font-size: 39px;
      font-weight: 300;
      line-height: 46.22px;
      text-align: left;
      margin: 0;
    }
  }
}
