.main {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-block: 10px;
  .product-cards {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    app-product-card {
      margin-bottom: 35px;
    }
  }
}

@media (max-width: 540px) {
  .main {
    flex-direction: column;
    height: unset;

    .product-cards {
      overflow: unset;
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }
}
